*{
    font-weight:700;
    font-family: 'Times New Roman',san-serif;
}
#display{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color:gray;
}
button{
    height:30px;
    width:60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(130, 221, 130);
    color:white;
    font-size:13px;
}
button:hover{
    background-color: black ;
}
p{
 border:5px;   
}